body {
  background-color: rgb(214, 214, 243);
  text-align: center;
}

.images{
  background-color: #77ee77;
  padding: 1%;
  margin-top: 1%;
  
}

img{
  padding-right: 1%;
  padding-left: 1%;
}

#showErrors {
  background-color: #d81c0f;
  color: white;
}

#amenities{
  background-color: #3CBC8D;
  color: white;
}

#descript{
  background-color: #a23cbc;
  color: white;
}

.showTempMax{
  background-color: rgb(194, 67, 38);
  color: white;
}

.showTempMin{
  background-color: rgb(14, 123, 178);
  color: white;
}

.showTemp{
  background-color: rgb(179, 189, 34);
  color: white;
}